#panePrincipal{
    -fx-background-image:url('../Images/deparatamentos-e-institutos.jpg');
    -fx-background-size:cover;
    -fx-debug: true;
}
#logInPane{
    -fx-background-color:"white";
}

#logInTitle{
    -fx-font-family: 'Lato';
    -fx-text-fill: #47525E;
    -fx-font-size: 35px;
    -fx-line-spacing: 51px;
    -fx-pref-width: 559px;
    -fx-alignment: center;
}
#logInTitle2{
    -fx-font-family: 'Lato';
    -fx-text-fill: #8190A5;
    -fx-font-size: 14px;
    -fx-line-spacing: 51px;
    -fx-pref-width: 559px;
    -fx-alignment: center;
}
#logInTitle3{
    -fx-font-family: 'Lato';
    -fx-text-fill: #8190A5;
    -fx-font-size: 14px;
    -fx-line-spacing: 51px;
    -fx-pref-width: 559px;
    -fx-alignment: center;
}

#logInButton{
    -fx-background-color: #62ACC1;
    -fx-font-family: 'Lato';
    -fx-font-size: 14px;
}

#topPanel{
    -fx-background-color: #f0bc14;
}

.button-bar .button {
    -fx-background-color: transparent;
    -fx-text-fill: #014BA0;
    -fx-font-family: 'Lato';
    -fx-font-size: 14px;
}
#inscText {
    -fx-font-family: 'League Gothic';
    -fx-text-fill: #014BA0;
    -fx-font-size: 49px;

}
#backInscPane {
    -fx-background-image: url('../Images/backInscPane.png');
    -fx-background-size: cover; /* or contain depending on the desired effect */
    -fx-background-position: center center; /* Center the image */
    -fx-background-repeat: no-repeat;
}
#labelInscritas {
    -fx-background-color: white;
}
#labelCarrito {
    -fx-background-color: white;
}
