#panePrincipal{
    -fx-background-image:url('../Images/deparatamentos-e-institutos.jpg');
    -fx-background-size:cover;
    -fx-debug: true;
}
#logInPane{
    -fx-background-color:"white";
}

#logInTitle{
    -fx-font-family: 'Lato';
    -fx-text-fill: #47525E;
    -fx-font-size: 35px;
    -fx-line-spacing: 51px;
    -fx-pref-width: 559px;
    -fx-alignment: center;
}
#logInTitle2{
    -fx-font-family: 'Lato';
    -fx-text-fill: #8190A5;
    -fx-font-size: 14px;
    -fx-line-spacing: 51px;
    -fx-pref-width: 559px;
    -fx-alignment: center;
}
#logInTitle3{
    -fx-font-family: 'Lato';
    -fx-text-fill: #8190A5;
    -fx-font-size: 14px;
    -fx-line-spacing: 51px;
    -fx-pref-width: 559px;
    -fx-alignment: center;
}

#logInButton{
    -fx-background-color: #62ACC1;
    -fx-font-family: 'Lato';
    -fx-font-size: 14px;
}
/*
Seccion Estudiante
 */
#hboxTop{
    -fx-background-color: #f0bc14;
}

.button-bar .button {
    -fx-background-color: transparent;
    -fx-text-fill: #014BA0;
    -fx-font-family: 'Lato';
    -fx-font-size: 16px;
}
#inscText {
    -fx-font-family: 'League Gothic';
    -fx-text-fill: #014BA0;
    -fx-font-size: 49px;

}
#backInscPane {
    -fx-background-image: url('../Images/backInscPane.png');
    -fx-background-size: cover; /* or contain depending on the desired effect */
    -fx-background-position: center center; /* Center the image */
    -fx-background-repeat: no-repeat;
    -fx-opacity: 0.7;
}
#labelInscritas {
    -fx-background-color: white;
}
#labelCarrito {
    -fx-background-color: white;
}
#labelCarritoTitle{
    -fx-font-family: 'League Gothic';
    -fx-font-size: 41px;
    -fx-text-fill: white;
    -fx-alignment: center;
}
#labelInscritasTitle{
    -fx-font-family: 'League Gothic';
    -fx-font-size: 41px;
    -fx-text-fill: white;
    -fx-alignment: center;
}

#revisarPlanPane {
    -fx-background-image: url('../Images/revisar_plan_estudios.png');
    -fx-background-size: cover; /* or contain depending on the desired effect */
    -fx-background-position: center center; /* Center the image */
    -fx-background-repeat: no-repeat;
    -fx-opacity: 0.7;
}
#botonRevisar {
    -fx-background-color: transparent;
    -fx-font-family: "League Gothic";
    -fx-text-fill: white;
    -fx-font-size: 50px;
    -fx-spacing: 52px;
}
#cambiarCargaPane {
    -fx-background-image: url('../Images/cambiar_carga.png');
    -fx-background-size: cover; /* or contain depending on the desired effect */
    -fx-background-position: center center; /* Center the image */
    -fx-background-repeat: no-repeat;
    -fx-opacity: 0.7;
}
#botonVerInfo {
    -fx-background-color: transparent;
    -fx-font-family: "League Gothic";
    -fx-text-fill: white;
    -fx-font-size: 50px;
}
#buscarMateriaPane {
    -fx-background-image: url('../Images/buscar_materia.png');
    -fx-background-size: cover; /* or contain depending on the desired effect */
    -fx-background-position: center center; /* Center the image */
    -fx-background-repeat: no-repeat;
    -fx-opacity: 0.7;
}
#botonBuscar {
    -fx-background-color: transparent;
    -fx-font-family: "League Gothic";
    -fx-text-fill: white;
    -fx-font-size: 50px;
}

#darBajaPane {
    -fx-background-image: url('../Images/dar_de_baja.png');
    -fx-background-size: cover; /* or contain depending on the desired effect */
    -fx-background-position: center center; /* Center the image */
    -fx-background-repeat: no-repeat;
    -fx-opacity: 0.7;
}
#botonBaja {
    -fx-background-color: transparent;
    -fx-font-family: "League Gothic";
    -fx-text-fill: white;
    -fx-font-size: 50px;
    -fx-spacing: 52px;
}
#inscribirMateriaPane {
    -fx-background-image: url('../Images/inscribir_materia.png');
    -fx-background-size: cover; /* or contain depending on the desired effect */
    -fx-background-position: center center; /* Center the image */
    -fx-background-repeat: no-repeat;
    -fx-opacity: 0.7;
}
#botonInscribir {
    -fx-background-color: transparent;
    -fx-font-family: "League Gothic";
    -fx-text-fill: white;
    -fx-font-size: 50px;
    -fx-spacing: 52px;
}

#botonBuscarId {
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-font-size: 22px;
    -fx-font-family: "League Gothic";
}
#botonAgregar {
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-font-size: 22px;
    -fx-font-family: "League Gothic";
}
#botonFinalizar {
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-font-size: 22px;
    -fx-font-family: "League Gothic";
}

#labelInformacionCompleta {
    -fx-background-color: white;
    -fx-font-family: "Lato";
    -fx-font-size: 26px;
}

#botonVerInfoCurso {
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-font-size: 22px;
    -fx-font-family: "League Gothic";
}

#botonExitVerInfo {
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-font-size: 22px;
    -fx-font-family: "League Gothic";
}

/*
Seccion profesores
 */
#hboxProfes {
    -fx-background-color: #f0bc14;
}

#gestionarClasePane {
    -fx-background-image: url('../Images/clase.png');
    -fx-background-size: cover; /* or contain depending on the desired effect */
    -fx-background-position: center center; /* Center the image */
    -fx-background-repeat: no-repeat;
    -fx-opacity: 0.7;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-clip-to-shape: true;
}

#gestionarInsripcionPane {
    -fx-background-image: url('../Images/biblioteca.jpg');
    -fx-background-size: cover; /* or contain depending on the desired effect */
    -fx-background-position: center center; /* Center the image */
    -fx-background-repeat: no-repeat;
    -fx-opacity: 0.7;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-clip-to-shape: true;
}
#gestionarSalonPane {
    -fx-background-image: url('../Images/salon.jpg');
    -fx-background-size: cover; /* or contain depending on the desired effect */
    -fx-background-position: center center; /* Center the image */
    -fx-background-repeat: no-repeat;
    -fx-opacity: 0.7; /* Transparency for the background */
    -fx-background-radius: 25px;

}

#formamosImagePane {
    -fx-background-image: url('../Images/formamosImagePanel.png');
    -fx-background-size: stretch;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;

}